*.png
Ops/AdvectionDiffusion/data/*
fwi_pde_auto.sublime-project
fwi_pde_auto.sublime-workspace
sftp-config.json
Ops/AdvectionDiffusion/build
Ops/FWI/ops/build
Ops/FWI/ops/__pycache__
src/data/*.txt
src/flow_fit_result/*.txt
*.txt
Ops/FWI/CUFD/Phase*
Ops/FWI/CUFD/Src/*.o
Ops/FWI/CUFD/Src/CUFD
*.jld2
*.bin
*sublime-project
*sublime-workspace

*build*
log
*.tar
amgcl/
.vscode/
*.DS_Store*
*0000*
