*.png
Ops/AdvectionDiffusion/data/*
fwi_pde_auto.sublime-project
fwi_pde_auto.sublime-workspace
sftp-config.json
Ops/AdvectionDiffusion/build
Ops/FWI/ops/build
Ops/FWI/ops/__pycache__
src/data/*.txt
*.txt
Ops/FWI/CUFD/Phase*
Ops/FWI/CUFD/Src/*.o
Ops/FWI/CUFD/Src/CUFD
Ops/PML/Ops3/build
Ops/PML/Ops4/build
Ops/PML/Ops5/build
Ops/PML/Ops6/build
Ops/PML/Ops7/build
*.jld2
*.bin

*build*
log
*.tar
